<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="public-s390x" value="https://pkgs.dev.azure.com/sailesh1/public/_packaging/dotnet-v2/nuget/v3/index.json" />
  </packageSources>
</configuration>
